# Read and Write example

In [22]:
from pymongo import MongoClient
import pandas as pd

In [19]:
my_client = MongoClient('mongodb://localhost:27017')

In [20]:
print(my_client.list_database_names())

['admin', 'config', 'final_project', 'local', 'test']

In [8]:
mydb = my_client['test']
mycol = mydb['hi']

In [9]:
x = mycol.insert_one({'name':'SOM','address':'busan'})

In [10]:
x.inserted_id

ObjectId('62859689f7a0e26081c3fb3e')

# craw

In [46]:
import requests
import bs4
from datetime import datetime,timedelta

company = '카카오'

date_list = []
title_list = []
info_list = []
url_list = []

if company == '카카오':
    code = '035720' # kakao
else:
    code = '035420' # naver
page = 1

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.64 Safari/537.36 Edg/101.0.1210.32'}

url = f'https://finance.naver.com/item/news_news.naver?code={code}&page={page}&sm=title_entity_id.basic&clusterId='
res = requests.get(url, headers=headers)
bs = bs4.BeautifulSoup(res.text, 'html.parser')

while datetime.strftime(datetime.now().date(), '%Y-%m-%d') not in date_list:
    url = f'https://finance.naver.com/item/news_news.naver?code={code}&page={page}&sm=title_entity_id.basic&clusterId='
    res = requests.get(url, headers=headers)
    bs = bs4.BeautifulSoup(res.text, 'html.parser')

    date_list.extend([i.text.split()[0].replace('.', '-') for i in bs.find_all('td', {'class': 'date'})])
    title_list.extend([i.text.replace('\n', '') for i in bs.find_all('td', {'class': 'title'})])
    info_list.extend([i.text for i in bs.find_all('td', {'class': 'info'})])
    url_list.extend(
        ['https://finance.naver.com' + i.find('a')['href'] for i in bs.find_all('td', {'class': 'title'})])

    page += 1

In [47]:
url_list

['https://finance.naver.com/item/news_read.naver?article_id=0000026649&office_id=243&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0005220450&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004838872&office_id=014&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004747980&office_id=008&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0000814770&office_id=366&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004700851&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0001992659&office_id=016&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0000814944&office_id=366&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004701040&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004701030&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0005219976&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0005091173&office_id=277&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004700902&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004055514&office_id=011&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0005219918&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0000026619&office_id=243&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004965959&office_id=009&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0004747964&office_id=008&code=035720&page=1&sm=title_entity_id.basic',
 'https://finance.naver.com/item/news_read.naver?article_id=0005091069&office_id=277&code=035720&page=1&sm=title_entity_id.basic']

In [48]:
mydb = my_client['final_project']
mycol = mydb['article_url']

In [49]:
df = pd.DataFrame([date_list,title_list,url_list,info_list]).transpose()
df.rename({0:'date',1:'title',2:'url',3:'info'},axis=1,inplace=True)

In [50]:
df.to_dict()

{'date': {0: '2022-05-19',
  1: '2022-05-19',
  2: '2022-05-19',
  3: '2022-05-19',
  4: '2022-05-19',
  5: '2022-05-19',
  6: '2022-05-19',
  7: '2022-05-19',
  8: '2022-05-19',
  9: '2022-05-19',
  10: '2022-05-19',
  11: '2022-05-19',
  12: '2022-05-19',
  13: '2022-05-19',
  14: '2022-05-19',
  15: '2022-05-19',
  16: '2022-05-19',
  17: '2022-05-19',
  18: '2022-05-19'},
 'title': {0: '“앱 삭제” 구글 압박에…카카오, 웹툰 사용료 인상',
  1: '네이버·카카오 나란히 52주 최저가…동반 급락',
  2: '나스닥 급락에...네이버·카카오, 또 신저가 경신',
  3: "美 나스닥 급락에 네이버·카카오 '동반 신저가'…3% 넘게 '추락'",
  4: '[특징주] 네이버·카카오, 美 나스닥 급락에 ‘휘청’…장 초반 동반 ...',
  5: '나스닥 폭락…카카오·네이버 52주 최저가로 추락',
  6: '[특징주] 네이버·카카오, 장중 52주 신저가 동반 경신',
  7: '네이버·카카오 ‘빅테크’, 간편결제 수수료율 공시 추진',
  8: '"1년에 두 번씩" 카카오·네이버페이도 수수료율 공시한다',
  9: '네이버·카카오 동반 추락…52주 최저가 경신',
  10: '카카오엔터, ‘타파스-래디쉬’ 결합해 북미 시장 1위 노린다',
  11: '카카오 종속사 래디쉬 미디어, 타파스 미디어 흡수합병',
  12: '카카오엔터 "래디쉬, 타파스 흡수합병" [주목 e공시]',
  13: '카카오 북미 웹툰·웹소설 1등 노린다…타파스·래디쉬 합병',
  14: '카카오엔터 "래디쉬 미디어, 타파스 미디어 흡수합병"',
  15: '네이버·카카오 동반 신저가, 시총 1조원씩 증발 [증시이슈]',
  16: '"30억 요청했는데 100억 냈다"…카카오 김범수 \'통큰 결단\', 사재...',
  17: '"30억 요청하니 사재 100억을"..카카오 김범수, 중증장애인 지원',
  18: "[특징주]'성장주 투심 냉각'에 체면 구긴 네이버·카카오…52주 신저가"},
 'url': {0: 'https://finance.naver.com/item/news_read.naver?article_id=0000026649&office_id=243&code=035720&page=1&sm=title_entity_id.basic',
  1: 'https://finance.naver.com/item/news_read.naver?article_id=0005220450&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
  2: 'https://finance.naver.com/item/news_read.naver?article_id=0004838872&office_id=014&code=035720&page=1&sm=title_entity_id.basic',
  3: 'https://finance.naver.com/item/news_read.naver?article_id=0004747980&office_id=008&code=035720&page=1&sm=title_entity_id.basic',
  4: 'https://finance.naver.com/item/news_read.naver?article_id=0000814770&office_id=366&code=035720&page=1&sm=title_entity_id.basic',
  5: 'https://finance.naver.com/item/news_read.naver?article_id=0004700851&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
  6: 'https://finance.naver.com/item/news_read.naver?article_id=0001992659&office_id=016&code=035720&page=1&sm=title_entity_id.basic',
  7: 'https://finance.naver.com/item/news_read.naver?article_id=0000814944&office_id=366&code=035720&page=1&sm=title_entity_id.basic',
  8: 'https://finance.naver.com/item/news_read.naver?article_id=0004701040&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
  9: 'https://finance.naver.com/item/news_read.naver?article_id=0004701030&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
  10: 'https://finance.naver.com/item/news_read.naver?article_id=0005219976&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
  11: 'https://finance.naver.com/item/news_read.naver?article_id=0005091173&office_id=277&code=035720&page=1&sm=title_entity_id.basic',
  12: 'https://finance.naver.com/item/news_read.naver?article_id=0004700902&office_id=015&code=035720&page=1&sm=title_entity_id.basic',
  13: 'https://finance.naver.com/item/news_read.naver?article_id=0004055514&office_id=011&code=035720&page=1&sm=title_entity_id.basic',
  14: 'https://finance.naver.com/item/news_read.naver?article_id=0005219918&office_id=018&code=035720&page=1&sm=title_entity_id.basic',
  15: 'https://finance.naver.com/item/news_read.naver?article_id=0000026619&office_id=243&code=035720&page=1&sm=title_entity_id.basic',
  16: 'https://finance.naver.com/item/news_read.naver?article_id=0004965959&office_id=009&code=035720&page=1&sm=title_entity_id.basic',
  17: 'https://finance.naver.com/item/news_read.naver?article_id=0004747964&office_id=008&code=035720&page=1&sm=title_entity_id.basic',
  18: 'https://finance.naver.com/item/news_read.naver?article_id=0005091069&office_id=277&code=035720&page=1&sm=title_entity_id.basic'},
 'info': {0: '이코노미스트',
  1: '이데일리',
  2: '파이낸셜뉴스',
  3: '머니투데이',
  4: '조선비즈',
  5: '한국경제',
  6: '헤럴드경제',
  7: '조선비즈',
  8: '한국경제',
  9: '한국경제',
  10: '이데일리',
  11: '아시아경제',
  12: '한국경제',
  13: '서울경제',
  14: '이데일리',
  15: '이코노미스트',
  16: '매일경제',
  17: '머니투데이',
  18: '아시아경제'}}

# python -> mongo

In [51]:
temp = df.to_dict()
for i in range(len(df)):
    mycol.insert_one({'date':temp['date'][i],'title':temp['title'][i]
                     ,'url':temp['url'][i],'info':temp['info'][i]})

# mongo -> python

In [54]:
db = my_client['final_project']

In [57]:
pd.DataFrame(db.article_url.find()).drop('_id',axis=1)

,date,title,url,info
0,2022-05-19,"“앱 삭제” 구글 압박에…카카오, 웹툰 사용료 인상",https://finance.naver.com/item/news_read.naver...,이코노미스트
1,2022-05-19,네이버·카카오 나란히 52주 최저가…동반 급락,https://finance.naver.com/item/news_read.naver...,이데일리
2,2022-05-19,"나스닥 급락에...네이버·카카오, 또 신저가 경신",https://finance.naver.com/item/news_read.naver...,파이낸셜뉴스
3,2022-05-19,美 나스닥 급락에 네이버·카카오 '동반 신저가'…3% 넘게 '추락',https://finance.naver.com/item/news_read.naver...,머니투데이
4,2022-05-19,"[특징주] 네이버·카카오, 美 나스닥 급락에 ‘휘청’…장 초반 동반 ...",https://finance.naver.com/item/news_read.naver...,조선비즈
5,2022-05-19,나스닥 폭락…카카오·네이버 52주 최저가로 추락,https://finance.naver.com/item/news_read.naver...,한국경제
6,2022-05-19,"[특징주] 네이버·카카오, 장중 52주 신저가 동반 경신",https://finance.naver.com/item/news_read.naver...,헤럴드경제
7,2022-05-19,"네이버·카카오 ‘빅테크’, 간편결제 수수료율 공시 추진",https://finance.naver.com/item/news_read.naver...,조선비즈
8,2022-05-19,"""1년에 두 번씩"" 카카오·네이버페이도 수수료율 공시한다",https://finance.naver.com/item/news_read.naver...,한국경제
9,2022-05-19,네이버·카카오 동반 추락…52주 최저가 경신,https://finance.naver.com/item/news_read.naver...,한국경제
10,2022-05-19,"카카오엔터, ‘타파스-래디쉬’ 결합해 북미 시장 1위 노린다",https://finance.naver.com/item/news_read.naver...,이데일리
11,2022-05-19,"카카오 종속사 래디쉬 미디어, 타파스 미디어 흡수합병",https://finance.naver.com/item/news_read.naver...,아시아경제
12,2022-05-19,"카카오엔터 ""래디쉬, 타파스 흡수합병"" [주목 e공시]",https://finance.naver.com/item/news_read.naver...,한국경제
13,2022-05-19,카카오 북미 웹툰·웹소설 1등 노린다…타파스·래디쉬 합병,https://finance.naver.com/item/news_read.naver...,서울경제
14,2022-05-19,"카카오엔터 ""래디쉬 미디어, 타파스 미디어 흡수합병""",https://finance.naver.com/item/news_read.naver...,이데일리
15,2022-05-19,"네이버·카카오 동반 신저가, 시총 1조원씩 증발 [증시이슈]",https://finance.naver.com/item/news_read.naver...,이코노미스트
16,2022-05-19,"""30억 요청했는데 100억 냈다""…카카오 김범수 '통큰 결단', 사재...",https://finance.naver.com/item/news_read.naver...,매일경제
17,2022-05-19,"""30억 요청하니 사재 100억을""..카카오 김범수, 중증장애인 지원",https://finance.naver.com/item/news_read.naver...,머니투데이
18,2022-05-19,[특징주]'성장주 투심 냉각'에 체면 구긴 네이버·카카오…52주 신저가,https://finance.naver.com/item/news_read.naver...,아시아경제