In [34]:
import pandas as pd
data = pd.read_csv('/Users/junho/Desktop/stream/data/유사기사_제거_마크다운용.csv')
data.drop('Unnamed: 0',axis=1,inplace=True)
data.columns

Index(['제목', '날짜', '정보제공', '링크'], dtype='object')

In [54]:
companys = list(pd.DataFrame(data.value_counts('정보제공')).reset_index()['정보제공'])
companys

['파이낸셜뉴스',
 '머니투데이',
 '서울경제',
 '한국경제',
 '이데일리',
 '매일경제',
 '이코노미스트',
 '헤럴드경제',
 '조선비즈',
 '아시아경제',
 '비즈니스워치',
 '매경이코노미',
 '조세일보',
 '한경비즈니스',
 '주간동아',
 '신동아',
 '중앙SUNDAY']

In [58]:
stream_show = []
for company in companys:
    if len(data.groupby('정보제공').get_group(company)) >= 5:
        stream_show.append(data.groupby('정보제공').get_group(company).head(10))

In [62]:
stream_show[0]

,제목,날짜,정보제공,링크
7,"카카오엔터, ‘카카오웹툰 인도네시아’ 서비스 개시",2022-04-27,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
25,"카카오, 카카오헬스케어에 1200억 투입한다",2022-04-21,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
35,"“메타버스, AI, 클라우드 산업 인프라 구축”..카카오",2022-04-20,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
36,"오리온, 카카오엔터프라이즈와 물류 시스템 업무협약 체결",2022-04-20,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
37,카카오브레인 ‘AI 이미지 생성모델’ 깃허브에 공개,2022-04-19,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
40,"[공시]디앤씨미디어 ""카카오엔터의 인수설, 사실 아냐""",2022-04-19,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
49,"'쌍둥이 하락' 네이버·카카오...""보이는 것이 다가 아니다""",2022-04-17,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
58,"꾸그 운영사 글로랑, 카카오 출신 오승하 CBO 영입",2022-04-14,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
63,"카카오엔터, 글로벌 메이저 스튜디오 향한 행보.. 올해 콘텐츠 20편 ...",2022-04-13,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...
64,"1호 빅테크보험사, 카카오손보 '등판'",2022-04-13,파이낸셜뉴스,https://finance.naver.com/item/news_read.naver...

In [90]:
list(stream_show[0].loc[:,['날짜','제목','링크']]['날짜'])

['2022-04-27',
 '2022-04-21',
 '2022-04-20',
 '2022-04-20',
 '2022-04-19',
 '2022-04-19',
 '2022-04-17',
 '2022-04-14',
 '2022-04-13',
 '2022-04-13']

In [89]:
stream_show[0].loc[:,['날짜','제목','링크']]

,날짜,제목,링크
7,2022-04-27,"카카오엔터, ‘카카오웹툰 인도네시아’ 서비스 개시",https://finance.naver.com/item/news_read.naver...
25,2022-04-21,"카카오, 카카오헬스케어에 1200억 투입한다",https://finance.naver.com/item/news_read.naver...
35,2022-04-20,"“메타버스, AI, 클라우드 산업 인프라 구축”..카카오",https://finance.naver.com/item/news_read.naver...
36,2022-04-20,"오리온, 카카오엔터프라이즈와 물류 시스템 업무협약 체결",https://finance.naver.com/item/news_read.naver...
37,2022-04-19,카카오브레인 ‘AI 이미지 생성모델’ 깃허브에 공개,https://finance.naver.com/item/news_read.naver...
40,2022-04-19,"[공시]디앤씨미디어 ""카카오엔터의 인수설, 사실 아냐""",https://finance.naver.com/item/news_read.naver...
49,2022-04-17,"'쌍둥이 하락' 네이버·카카오...""보이는 것이 다가 아니다""",https://finance.naver.com/item/news_read.naver...
58,2022-04-14,"꾸그 운영사 글로랑, 카카오 출신 오승하 CBO 영입",https://finance.naver.com/item/news_read.naver...
63,2022-04-13,"카카오엔터, 글로벌 메이저 스튜디오 향한 행보.. 올해 콘텐츠 20편 ...",https://finance.naver.com/item/news_read.naver...
64,2022-04-13,"1호 빅테크보험사, 카카오손보 '등판'",https://finance.naver.com/item/news_read.naver...

In [139]:
data = pd.read_csv('/Users/junho/Desktop/data/final_csv/data_not_scaled.csv')
data

,날짜,vix종가,나스닥종가,주식종가(원),변동금리(%),코스피,코스닥,기관합계매수량(원),기타법인매수량(원),개인매수량(원),외국인합계매수량(원),시가(원),고가(원),저가(원),거래량(주),score1,score2
0,2021-04-30,18.84,13962.68,113500.0,0.24,3147.86,983.45,-6.328805e+10,1.375516e+09,1.213529e+11,-5.944038e+10,117000.0,117000.0,113000.0,4405688.0,0.170648,0.006683
1,2021-05-03,18.09,13895.12,114500.0,0.24,3127.20,961.81,-2.304226e+09,-9.560710e+08,1.177482e+10,-8.514519e+09,112500.0,116000.0,110000.0,2832622.0,0.070933,0.071469
2,2021-05-04,16.89,13633.50,115500.0,0.24,3147.37,967.20,2.390576e+10,-1.533056e+09,-4.710302e+09,-1.766240e+10,113500.0,116000.0,112000.0,2228466.0,0.138656,0.379563
3,2021-05-06,17.00,13632.84,115000.0,0.24,3178.74,969.99,-3.195807e+10,2.410460e+08,1.243098e+11,-9.259276e+10,115000.0,117500.0,113500.0,3234424.0,0.302284,0.428291
4,2021-05-07,16.43,13752.24,114500.0,0.24,3197.20,978.30,-1.369858e+10,1.987220e+08,6.439228e+10,-5.089242e+10,115500.0,117000.0,114000.0,2040844.0,0.502338,0.622322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,2022-04-21,16.77,13174.65,93600.0,1.19,2728.21,929.68,-2.075295e+10,-2.116368e+08,5.093270e+10,-2.996812e+10,95100.0,95100.0,93100.0,1809576.0,-0.028153,0.253515
230,2022-04-25,21.05,13004.85,89700.0,1.19,2657.13,899.84,-2.053622e+10,-1.632224e+10,3.887825e+10,-2.019788e+09,90400.0,91600.0,89600.0,1511408.0,-0.186395,-0.274012
231,2022-04-26,19.94,12490.74,90200.0,1.19,2668.31,911.16,-1.160438e+09,5.082036e+08,-4.693306e+09,5.345540e+09,89800.0,91700.0,89700.0,1368258.0,0.101708,0.403011
232,2022-04-27,21.98,12488.93,88400.0,1.19,2639.06,896.18,-1.735781e+10,-2.791242e+08,2.201108e+10,-4.374148e+09,87600.0,88900.0,87600.0,1390581.0,0.048593,0.238457
233,2022-04-28,20.45,12871.53,89300.0,1.19,2667.49,892.22,1.003187e+10,7.467922e+08,4.192560e+08,-1.119792e+10,89700.0,89800.0,88100.0,1216554.0,-0.227792,-0.623107

In [140]:
data.columns

Index(['날짜', 'vix종가', '나스닥종가', '주식종가(원)', '변동금리(%)', '코스피', '코스닥',
       '기관합계매수량(원)', '기타법인매수량(원)', '개인매수량(원)', '외국인합계매수량(원)', '시가(원)', '고가(원)',
       '저가(원)', '거래량(주)', 'score1', 'score2'],
      dtype='object')

In [141]:
data = data.iloc[-2:,[5,6,2]]
data

         코스피     코스닥     나스닥종가
232  2639.06  896.18  12488.93
233  2667.49  892.22  12871.53

In [142]:
data.columns

Index(['코스피', '코스닥', '나스닥종가'], dtype='object')

In [145]:
data.iloc[1,0]

2667.49

In [147]:
data.columns[0]

'코스피'